@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
  display: flex;
  width: 390px;
  flex-direction: column;
  align-items: flex-start;
  background: var(--BG);
  margin: 0;
}

* {
  font-family: Montserrat;
  font-style: normal;
  line-height: normal;
  font-weight: 400;
  font-size: 14.039px;
  color: var(--Text);
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' -25,
  'opsz' 20
}

header {
  display: flex;
  padding: 11px 15px;
  align-items: center;
  gap: 9px;
  align-self: stretch;
  z-index: 10;
  background: linear-gradient(100deg, #4C97FF -2.26%, #59C059 135.83%);
  box-shadow: 0px 0px 102.3px 0px rgba(0, 0, 0, 0.08);
}

header #logo {
  width: 52px;
}

header #title {
  color: #FFF;
  font-family: Montserrat;
  font-size: 23.398px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

header #version {
  color: rgba(255, 255, 255, 0.83);
  font-family: Montserrat;
  font-size: 15.599px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

header #switch-theme {
  width: 31.2px;
  height: 31.2px;
  position: absolute;
  right: 0;
  padding: 16.5px;
}

#contents {
  display: flex;
  padding: 15.599px 23.398px;
  flex-direction: column;
  align-items: flex-start;
  gap: 13.259px;
  align-self: stretch;
  justify-content: center;
}

#floating-logo-back {
  width: 165.068px;
  height: 172.163px;
  transform: rotate(-10.941deg);
  position: absolute;
  right: 19px;
  top: 77px;
  opacity: 0.50;
  filter: blur(40px);
  z-index: 0;
}

#floating-logo {
  width: 165.068px;
  height: 172.163px;
  transform: rotate(-10.941deg);
  position: absolute;
  right: 19px;
  top: 77px;
  opacity: 0.50;
  filter: blur(12px);
  z-index: 2;
}

#friends-list {
  margin-bottom: -45px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 7.799px;
  align-self: stretch;
  z-index: 10;
}

info {
  opacity: 0.5;
  z-index: 4;
}

.title {
  font-size: 23.398px;
  opacity: 1;
  z-index: 5;
}

.group {
  display: flex;
  flex-direction: column;
}

.input input {
  padding: 9.100000000000001px 14px;
  border-radius: 7.799px 0 0 7.799px;
  width: 100%;
  display: flex;
  align-items: stretch;
  border: 0.78px solid var(--Sub);
  border-right: none;
  background: var(--Sub);
}

.input input::placeholder{
  color: var(--Text);
  opacity: 0.6;
}

.input input::-moz-placeholder{
  color: var(--Text);
  opacity: 0.6;
}

.input input::-ms-input-placeholder{
  color: var(--Text);
  opacity: 0.6;
}

.input input:-ms-input-placeholder{
  color: var(--Text);
  opacity: 0.6;
}

.input input::-webkit-input-placeholder{
  color: var(--Text);
  opacity: 0.6;
}

.input span {
  padding: 5px;
  border-radius: 0 7.799px 7.799px 0;
  display: flex;
  align-items: stretch;
  border: 0.78px solid var(--Sub);
  border-left: none;
  background: var(--Sub);
}

.input {
  display: flex;
  align-items: stretch;
  width: 100%;
}

#friends {
  min-height: 50px;
  display: flex;
  max-height: 148.176px;
  flex-direction: column;
  align-items: flex-start;
  gap: 5.46px;
  align-self: stretch;
  overflow-y: auto;
  padding: 0;
  margin: 0;
  list-style: none;
}

#friends li {
  display: flex;
  flex-direction: row;
  width: 100%;
}

#friends li > span{
  display: flex;
  border: 0.78px solid var(--Supplementary);
  background: var(--Supplementary);
}

#friends li > span:nth-child(1){
  width: 100%;
  padding: 9.100000000000001px 14px;
  border-radius: 7.799px 0 0 7.799px;
  border-right: none;
}

#friends li > span:nth-child(2){
  padding: 5px;
  border-radius: 0 7.799px 7.799px 0;
  border-left: none;
}

#loggedout {
  padding: 15.599px 23.398px;
  font-size: 23.398px;
  flex-direction: column;
  z-index: 10;
}

.button:hover {
  cursor: pointer;
}

#projects {
  transition: 0.2s;
  opacity: 1;
  position: absolute;
  color: #FFFFFF;
  display: flex;
  padding: 8.579px 19.26px 7.516px 19.5px;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 96.72px;
  bottom: 50px;
  border-radius: 7.799px;
  border: 0.78px solid var(--button-large-stroke);
  background: var(--button-large);
  box-shadow: 0px 3.12px 13.337px 0px rgba(0, 0, 0, 0.25);
}

section {
  display: flex;
  flex-direction: column;
  gap: 3px;
  width: 100%;
}

#project-chat {
  z-index: 20;
}

/* Sliders */
.switch {
  position: relative;
  display: inline-block;
  width: 41px;
  height: 21px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--Sub);
  border: 1px solid var(--Sub);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 15.5px;
  width: 15.5px;
  left: 2px;
  bottom: 2px;
  background-color: var(--Text);
  -webkit-transition: .4s;
  transition: .4s;
}

.switch input:checked + .slider {
  background: var(--switch-enabled);
}

.switch input:checked + .slider::before {
  background-color: #FFFFFF;
}

.switch input:checked + .slider:before {
  -webkit-transform: translateX(19.5px);
  -ms-transform: translateX(19.5px);
  transform: translateX(19.5px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* end of sliders code */

.popup {
  display: flex;
  width: 311.22px;
  padding: 7.8px 15.6px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6.24px;
  position: absolute;
  border-radius: 7.8px;
  border: 0.78px solid var(--Light-Mode---Sub, rgba(255, 255, 255, 0.57));
  background: rgba(255, 238, 86, 0.25);
  box-shadow: 0px 4px 34.9px 0px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(49.20000076293945px);
  z-index: 30;
}

footer {
  display: flex;
  width: 342px;
  padding: 15.599px 23.398px;
  flex-direction: column;
  align-items: flex-start;
  gap: 7.799px;
  background: var(--Supplementary);
  box-shadow: 0px 0px 79.788px 0px rgba(0, 0, 0, 0.08);
  font-size: 15.599px;
  z-index: 10;
}

.flex-horiz {
  display: flex;
  align-items: flex-start;
  gap: 10.139px;
}

.credit {
  display: flex;
  padding: 1.56px 10.919px 1.56px 1.56px;
  align-items: center;
  gap: 6.239px;
  width: 100%;
  border-radius: 77.994px;
  border: 0.78px solid var(--Sub);
  background: var(--Sub);
}

.credit img {
  width: 30.42px;
  height: 30.415px;
  clip-path: circle();
}

#links a img{
  height: 20px;
}

#links a#link-hub {
  background-color: var(--Sub-Semi);
  border-color: var(--Sub-Semi);
  z-index: 100;
  cursor: pointer;
}

#links a#link-hub img, #links a#link-hub span:not(.tooltiptext) {
  opacity: 0.7;
}

#links a {
  background-color: var(--Sub);
  padding: 3px 5px;
  border-radius: 50px;
  border: 1px solid var(--Sub);
  z-index: 2;
}

hr {
  width: 100px;
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid var(--Text);
  padding: 0;
  opacity: 0.5;
  margin-block: 1px;
}

.tooltip {
  position: relative;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 100;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip-right::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent #555 transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
.tooltip-right {
  top: -5px;
  left: 125%;  
}
#links a#link-donate {
  background-color: #202020;
  text-decoration: none;
  padding-inline: 7px;
}

#links a#link-donate img {
  height: 15px;
}

#links a#link-donate span {
  color: #ffffff;
  font-family: "Cookie", cursive;
  font-size: 18px;
}

#server-url {
  background-color: var(--Sub);
  color: var(--Text);
  border: 0.78px solid var(--Sub);
  border-radius: 5px;
}

#server-url:disabled {
  opacity: 0.7;
}

#settings {
  padding-left: 5px;
  display: flex;
}

#settings-dropdown {
  cursor: pointer;
}

body.dark-mode *, body.dark-mode{
  --BG: linear-gradient(147deg, #204635 -9.97%, #25446D 134.99%);
  --Text: #FFF;
  --Text-Solid: #FFF;
  --Supplementary: rgba(255, 255, 255, 0.14);
  --Sub: rgba(255, 255, 255, 0.337);
  --Sub-Semi: rgba(255, 255, 255, 0.1);
  --button-large-stroke: rgba(255, 255, 255, 0.31);
  --button-large: linear-gradient(115deg, #4794F6 -12.84%, #55B488 122.07%);
  --switch-enabled: linear-gradient(116deg, #56B48B 0%, #55AAB5 78.39%);
}

body.dark-mode #credits .credit, #links a {
  background-color: var(--Supplementary);
  border-color: var(--Supplementary);
}

body.light-mode *, body.light-mode{
  --BG: linear-gradient(147deg, #E2FFE2 -9.97%, #D8E8FF 134.99%);
  --Text: #2c2c2c;
  --Text-Solid: #000000;
  --Supplementary: rgba(255, 255, 255, 0.29);
  --Sub: rgba(255, 255, 255, 0.611);
  --Sub-Semi: rgba(255, 255, 255, 0.4);
  --button-large-stroke: rgba(255, 255, 255, 0.58);
  --button-large: linear-gradient(115deg, #4A9AFF -12.84%, #57B78A 122.07%);
  --switch-enabled: linear-gradient(116deg, #56B48B 0%, #55AAB5 78.39%);
}

body.light-mode #link-uptime img {
  filter: brightness(0.7);
}

body.light-mode #switch-theme {
  background-image: url("../img/icons/light-switch.svg");
  background-repeat: no-repeat;
  background-position: center;
}

body.dark-mode #switch-theme {
  background-image: url("../img/icons/dark-switch.svg");
  background-repeat: no-repeat;
  background-position: center;
}